<div id="equipment">
    <% if (site.data.equipment) { %>
        <% site.data.equipment.forEach(function(i) { %>
            <div class="equipment-item">
                <h2 class="equipment-item-title"><%= i.class_name %></h2>
                <div class="equipment-item-description"><%= i.description %></div>
                <div class="equipment-item-content">
                    <% i.equipment_list.forEach(function(item) { %>
                        <div class="equipment-item-content-item">
                            <div class="equipment-item-content-item-cover">
                                <img class="equipment-item-content-item-image" src="<%= item.image %>" alt="<%= item.name %>">
                            </div>
                            <div class="equipment-item-content-item-info">
                                <div class="equipment-item-content-item-name"><%= item.name %></div>
                                <div class="equipment-item-content-item-specification"><%= item.specification %></div>
                                <div class="equipment-item-content-item-description"><%= item.description %></div>
                                <% if (item.link) { %>
                                    <div class="equipment-item-content-item-toolbar">
                                        <% if (item.link.includes('https://') || item.link.includes('http://')) { %>
                                            <a class="equipment-item-content-item-link" href="<%= item.link %>" target="_blank">详情</a>
                                        <% } else { %>
                                            <a class="equipment-item-content-item-link" href="<%= item.link %>" target="_blank">查看文章</a>
                                        <% } %>
                                        <a class="bber-reply" onclick="sco.toTalk('<%- item.description %>')" >
                                            <i class="scoicon sco-chat-fill" style="font-size: 1rem;">
                                            </i>
                                          </a>
                                    </div>
                                <% } %>       
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        <% }) %>
    <% } %>
</div>