script.
    window.addEventListener('load', () => {
        const changeContent = (content) => {
            if (content === '') return content;

            const replacements = [
                {regex: /<img.*?src="(.*?)"?[^\>]+>/ig, replacement: '<i class="solitude st-image-fill"></i>'},
                {regex: /<a[^>]+?href=["']?([^"']+)["']?[^>]*>([^<]+)<\/a>/gi, replacement: '<i class="solitude st-link"></i>'},
                {regex: /<pre><code>.*?<\/pre>/gi, replacement: '<i class="solitude st-code-box-fill"></i>'},
                {regex: /<p>|<\/p>/g, replacement: ''}
            ];

            console.log(content.replace(/<img.*?src="(.*?)"?[^\>]+>/ig, '<i class="solitude st-gallery-image">'))

            content = replacements.reduce((str, {regex, replacement}) => str.replace(regex, replacement), content);

            return content.length > 150 ? content.substring(0, 150) + '...' : content;
        }

        const $asideList = document.querySelector('#card-newest-comments .aside-list')

        const getComment = () => {
            const runTwikoo = () => {
                twikoo.getRecentComments({
                    envId: GLOBAL_CONFIG.comment.url,
                    region: '',
                    pageSize: 6,
                    includeReply: true
                }).then(function (res) {
                    const twikooArray = res.map(e => ({
                        'content': changeContent(e.comment),
                        'avatar': e.avatar,
                        'nick': e.nick,
                        'url': `${e.url}#${e.id}`,
                        'date': new Date(e.created).toISOString()
                    }))
                    saveToLocal.set('twikoo-newest-comment', twikooArray, !{theme.comment.newest_comment.storage})
                    generateHtml(twikooArray)
                }).catch(function (err) {
                    console.error(err)
                    $asideList.textContent = "!{_p('newest_comment.error')}"
                })
            }
            runTwikoo()
        }

        const generateHtml = array => {
            $asideList.innerHTML = array.length ? array.map(item => `
                <div class='aside-list-item'>
                  <a onclick='pjax.loadUrl("${item.url}")' class='thumbnail'>
                    <img src='${item.avatar}' alt='${item.nick}'>
                    <div class='name'><span>${item.nick}</span></div>
                  </a>
                  <div class='content'>
                    <a class='comment' onclick='pjax.loadUrl("${item.url}")'>${item.content}</a>
                    <time class="datetime" datetime="${item.date}"></time>
                  </div>
                </div>
              `).join('') : "!{_p('newest_comment.zero')}"
            window.lazyLoadInstance && window.lazyLoadInstance.update()
            window.pjax && window.pjax.refresh()
            sco && sco.changeTimeFormat(document.querySelectorAll('.aside-list-item time'))
        }

        const newestCommentInit = () => {
            const data = saveToLocal.get('twikoo-newest-comment')
            if (data) {
                generateHtml(data)
            } else {
                getComment()
            }
        }

        newestCommentInit()
    })