.post-reward(onclick="AddRewardMask()")
    .reward-button(title="èµžèµä½œè€…")
        i.solitude.st-hand-heart-fill
        | æ‰“èµä½œè€…
    .reward-main
        ul.reward-all
            span.reward-title æ„Ÿè°¢ä½ èµäºˆæˆ‘å‰è¿›çš„åŠ›é‡
            ul.reward-group
                if theme.post.award.wechat
                    li.reward-item
                        a(href=theme.post.award.wechat)
                            img.post-qr-code-img(src=theme.post.award.wechat alt="å¾®ä¿¡")
                        .post-qr-code-desc å¾®ä¿¡
                if theme.post.award.alipay
                    li.reward-item
                        a(href=theme.post.award.alipay target="_blank")
                            img.post-qr-code-img(src=theme.post.award.alipay alt="æ”¯ä»˜å®")
                        .post-qr-code-desc æ”¯ä»˜å®
            a.reward-main-btn(href=url_for(theme.post.award.url))
                .reward-text èµžèµè€…åå•
                .reward-dec å› ä¸ºä½ ä»¬çš„æ”¯æŒè®©æˆ‘æ„è¯†åˆ°å†™æ–‡ç« çš„ä»·å€¼ðŸ™

script.
    function RemoveRewardMask() {
        let rewardMainElements = document.querySelectorAll(".reward-main");
        let quitBoxElement = document.querySelector("#quit-box");

        console.log("RemoveRewardMask")

        rewardMainElements.forEach(element => {
            element.style.display = "none";
        });

        if (quitBoxElement) {
            quitBoxElement.style.display = "none";
        }
    }

    function AddRewardMask() {
        let rewardMainElements = document.querySelectorAll(".reward-main");
        let quitBoxElement = document.querySelector("#quit-box");

        console.log("AddRewardMask")

        rewardMainElements.forEach(element => {
            element.style.display = "flex";
        });

        if (quitBoxElement) {
            quitBoxElement.style.display = "flex";
        }
    }