.post-ai
    .ai-title
        .ai-title-left
            i.ai-title-icon.solitude.fa-solid.fa-robot
            .ai-title-text=_p('post.ai.title')
        .ai-tag#ai-tag= theme.post_ai.modelName
    .ai-explanation(style="display: block;")
    .ai-suggestions
    .ai-bottom
        .ai-tips= theme.post_ai.tips
        if theme.post_ai.report
            a.ai-report(title=_p('post.ai.tip'), href=url_for(theme.post_ai.report))=_p('post.ai.tip')