<div class="back-menu-list-groups">
    <% for(const x in theme.nav.left.menu){ %>
      <% const groupData=theme.nav.left.menu[x] %>
      <div class="back-menu-list-group">
        <div class="back-menu-list-title">
          <%= x %>
        </div>
        <div class="back-menu-list">
          <% for(const y in groupData){ %>
            <% const data=groupData[y] %>
            <a class="back-menu-item" href="<%= url_for(data.url) %>" rel="external nofollow" title="<%= y %>">
              <img class="back-menu-item-icon" src="<%= data.icon %>" loading="lazy">
              <span class="back-menu-item-text">
                <%= y %>
              </span>
            </a>
          <% } %>
        </div>
      </div>
    <% } %>
  </div>
  