<div class="menus_items">
    <% for(const x in theme.nav.menu){ %>
        <div class="menus_item">
            <% if(!theme.nav.menu[x].url){ %>
                <a class="site-page" href="javascript:void(0);" rel="external nofollow">
                    <span> <%= x %></span>
                </a>
                <ul class="menus_item_child">
                    <% for(y in theme.nav.menu[x].child){ %>
                        <li>
                            <a class="site-page child" href="<%- url_for(theme.nav.menu[x].child[y].url) %>">
                                <i class="<%- theme.nav.menu[x].child[y].icon %>"></i>
                                <span> <%= y %></span>
                            </a>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <a class="site-page not-child" href="<%- url_for(theme.nav.menu[x].url) %>" rel="external nofollow">
                    <span> <%= x %></span>
                </a>
            <% } %> 
        </div>
    <% } %>
</div>