<div class="categoryItem" style="box-shadow: var(--sco-shadow-blue);"><a class="categoryButton CB1 bikan"
        href="<%- url_for(theme.hometop.categoryGroup.G1.url) %>">
        <span class="categoryButtonText"><%= theme.hometop.categoryGroup.G1.name %></span>
        <i class="<%- theme.hometop.categoryGroup.G1.icon %>"></i>
    </a>
</div>
<div class="categoryItem" style="box-shadow: var(--sco-shadow-red);">
    <a class="categoryButton remen" href="<%- url_for(theme.hometop.categoryGroup.G2.url) %>">
        <span class="categoryButtonText"><%= theme.hometop.categoryGroup.G2.name %></span>
        <i class="<%- theme.hometop.categoryGroup.G2.icon %>"></i>
    </a>
</div>
<div class="categoryItem" style="box-shadow: var(--sco-shadow-green);">
    <a class="categoryButton shiyong"
        href="<%- url_for(theme.hometop.categoryGroup.G3.url) %>">
        <span class="categoryButtonText"><%= theme.hometop.categoryGroup.G3.name %></span>
        <i class="<%- theme.hometop.categoryGroup.G3.icon %>"></i>
    </a>
</div>