<main class="layout" id="content-inner">
    <div id="archive">
        <div class="article-sort-title"><%= __('page.archives') %><sup><%= page.posts.length %></sup></div>
        <div class="article-sort">
            <%- partial('partial/compoment/mixins/articleSort') %>
        </div>
        <%- partial('partial/compoment/mixins/pagination') %>
    </div>
    <%- partial('partial/compoment/aside/aside') %> 
</main>     