<div id="home_top">
    <% if(theme.hometop.bbtime){ %>
        <%- partial('partial/compoment/hometop/bbTimeList') %>
    <% } %>
    <% if(theme.hometop.banner.enable){ %>
        <%- partial('partial/hometop') %>
    <% } %>
</div>
<main class="layout" id="content-inner">
    <div class="recent-posts" id="recent-posts">
        <div id="category-bar">
            <%- partial('partial/compoment/home/homeCategoryBar', {select:false}) %>
        </div>
        <% for (const item of page.posts.sort('-date').data){ %>
            <%- partial('partial/compoment/home/postList', {post: item}) %>
        <% } %>
        <%- partial('partial/compoment/mixins/pagination') %>
    </div>
    <%- partial('partial/compoment/aside/aside') %> 
</main>     