<main class="layout <%= page.aside ? '' : 'hide-aside' %>" id="content-inner">
    <div id="page">
        <% switch (page.type) {
            case 'categories': %>
                <%- partial('page/categories') %>
            <% break;
            case 'tags': %>
            <%- partial('page/tags') %>
            <% break;
            case 'links': %>
                <%- partial('page/links') %>
			<% break;
            case 'tlink': %>
                <%- partial('page/tlink') %>
            <% break;
			case 'about': %>
			    <%- partial('page/about') %>
            <% break;
            case 'says': %>
                <%- partial('page/says') %>
            <% break;
            case 'equipment': %>
                <%- partial('page/equipment') %>
            <% break;
            case 'album': %>
                <%- partial('album/album') %>
            <% break;
            case 'album_detail': %>
                <%- partial('album/album_detail') %>
            <% break;
            case 'circle': %>
                <%- partial('page/circle') %>
            <% break;
            case 'echarts': %>
                <%- partial('page/echarts') %>
            <% break;
            case 'rss': %>
                <%- partial('page/rss') %>
            <% break;
            default: %>
                <%- partial('page/page') %>
            <% break;
        } %>
        <% if(page.comment){ %>
            <%- partial('partial/compoment/third-party/comments/comment') %>
        <% } %>
    </div>
    <% if(page.aside){ %>
        <%- partial('partial/compoment/aside/aside') %>
    <% } %>
</main>     
