<main class="layout" id="content-inner">
    <div id="post">
        <article class="post-content" id="article-container">
            <%- page.content %>
        </article>
        <%- partial('partial/compoment/post/copyright') %>

        <div class="post-tools-right">
            <div class="tag_share">
                <div class="post-meta__tag-list">
                    <% page.tags.data.forEach(data => { %>
                        <a href="<%= url_for(data.path) %>" class="post-meta__tags">
                            <span class="tags-punctuation"></span>
                            <%= data.name %>
                            <span class="tagsPageCount"><%= data.length %></span>
                        </a>
                    <% }) %>
                </div>
            </div>
        </div>

        <% if(site.posts.length > 1){ %>
            <%- partial('partial/compoment/post/postNav') %>
        <% } %>

        <%- related_posts(page, site.posts) %>

        <% if(page.comment){ %>
            <%- partial('partial/compoment/third-party/comments/comment') %>
        <% } %>
    </div>

    <%- partial('partial/compoment/aside/aside') %>

    <% if(theme.thirdparty.ai.enable){ %>
        <script data-pjax defer>
            // AI构造函数
            new ChucklePostAI({
                el: '#post #article-container',
                key: '<%= theme.thirdparty.ai.key %>',
                title_el: '.post-title',
                rec_method: '<%= theme.thirdparty.ai.rec_method || 'web' %>',
                interface: {
                    name: "<%= theme.thirdparty.ai.ai_name || 'Solitude-AI' %>",
                    introduce: "<%= theme.thirdparty.ai.ai_introduce || '我是文章辅助AI生成工具: Solitude-AI。你可以点击下方的按钮，让我生成本文简介、推荐相关文章等。' %>",
                    version: "<%= theme.thirdparty.ai.ai_tips || 'GPT-4' %>",
                },
                <% if(theme.thirdparty.ai.hide_shuttle) { %>
                    hide_shuttle: true,
                <% } %><% if(theme.thirdparty.ai.typewriter === false) { %>
                    typewriter: false,
                <% } %><% if(theme.thirdparty.ai.speed !== 20) { %>
                    speed: <%= theme.thirdparty.ai.speed %>,
                <% } %><% if(theme.thirdparty.ai.BlackWhite_List.mode === 'black') { %>
                    eliminate: [<%- theme.thirdparty.ai.BlackWhite_List.List.map(item => `'${item}'`).join(', ') %>],
                <% } else if(theme.thirdparty.ai.BlackWhite_List.mode === 'white') { %>
                    whitelist: [<%- theme.thirdparty.ai.BlackWhite_List.List.map(item => `'${item}'`).join(', ') %>],
                <% } %><% if(page.ai_total_length) { %>
                    total_length: <%= page.total_length %>,
                <% } %><% if(page.ai_ratio_string) { %>
                    ratio_string: "<%= page.ratio_string %>",
                <% } %>
            })
        </script>
    <% } %>
</main>