<main class="layout" id="content-inner">
    <div id="tag">
        <div id="tag-page-tags">
            <% site.tags.each(function (tag) { %>
                <a href="<%= url_for(tag.path) %>" id="<%= tag.name %>" class="<%= tag.name === page.tag ? 'select' : '' %>">
                    <span class="tags-punctuation"></span>
                    <%= tag.name %>
                    <span class="tagsPageCount"><%= tag.length %></span>
                </a>
            <% }) %>
        </div>
        <div class="recent-posts" id="recent-posts">
            <% const currentTag = page.tag; %>
            <% site.posts.each(post => { %>
                <% post.tags.each(tag => { %>
                    <% if (tag.name === currentTag) { %>
                        <%- partial('partial/compoment/home/postList', {post: post}) %>
                    <% } %>
                <% }); %>
            <% }); %>
        </div>
        <%- partial('partial/compoment/mixins/pagination') %>
    </div>
    <%- partial('partial/compoment/aside/aside') %>
</main>