<main class="layout" id="content-inner">
    <div id="tag">
        <div id="tag-page-tags">
            <% site.tags.data.forEach(data => { %>
                <a href="<%= url_for(data.path) %>" class="<%= data.name === page.tag ? 'select' : '' %>">
                    <span class="tags-punctuation"></span>
                    <%= data.name %>
                    <span class="tagsPageCount"><%= data.length %></span>
                </a>
            <% }) %>
        </div>
        <div class="recent-posts category_ui" id="recent-posts">
            <% const currentTag = page.tag; %>
            <% site.posts.each(post => { %>
                <% post.tags.each(tag => { %>
                    <% if (tag.name === currentTag) { %>
                        <%- partial('partial/compoment/home/postList', {post: post}) %>
                    <% } %>
                <% }); %>
            <% }); %>
        </div>
        <%- partial('partial/compoment/mixins/pagination') %>       
    </div>
    <%- partial('partial/compoment/aside/aside') %> 
</main>