<main class="layout" id="content-inner">
    <div id="tag">
        <div id="tag-page-tags">
            <% site.tags.data.forEach(data => { %>
                <a href="<%= url_for(data.path) %>" class="<%= data.name === page.tag ? 'select' : '' %>">
                    <span class="tags-punctuation"></span>
                    <%= data.name %>
                    <span class="tagsPageCount"><%= data.length %></span>
                </a>
            <% }) %>
        </div>
        <div class="article-sort-title"><%= page.tag %></div>
        <div class="article-sort">
            <%- partial('partial/compoment/mixins/articleSort') %>
        </div>
        <%- partial('partial/compoment/mixins/pagination') %>       
    </div>
    <%- partial('partial/compoment/aside/aside') %> 
</main>