<div id="sco-footer-bar">
    <div class="footer-logo">
        <% if (theme.site.name.class === 'i_class') { %>
            <i class="<%= theme.site.name.custom %>" style="font-size: 16px;"></i>
        <% } else if (theme.site.name.class === 'img') { %>
            <i style="background-image: url('<%= url_for(theme.site.name.custom) %>')"></i>
        <% } else if (theme.site.name.class === 'text') { %>
            <span class="scoicon"><%= theme.site.name.custom %></span>
        <% } %>
    </div>
    <div class="footer-bar-description">来自 <%- config.title %> 最新设计与科技的文章</div>
    <a class="footer-bar-link" href="/" data-pjax-state="">了解更多</a>
</div>
<div id="footer_deal">
    <% for(const i in theme.footer.information.left){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.left[i].url) %>" rel="external nofollow"
           title="<%= i %>">
            <i class="<%= theme.footer.information.left[i].icon %>"></i>
        </a>
    <% } %>
    <img class="footer_mini_logo" src="<%= theme.site.icon %>"
         title="返回顶部" onclick="sco.toTop()">
    <% for(const i in theme.footer.information.right){ %>
        <a class="deal_link" href="<%= url_for(theme.footer.information.right[i].url) %>" rel="external nofollow"
           title="<%= i %>">
            <i class="<%= theme.footer.information.right[i].icon %>"></i>
        </a>
    <% } %>
</div>
<div id="sco-footer">
    <% for(const x in theme.footer.group){ %>
        <div class="footer-group">
            <h3 class="footer-title"><%= x %></h3>
            <div class="footer-links">
                <% for(const y in theme.footer.group[x]){ %>
                    <a class="footer-item" href="<%= url_for(theme.footer.group[x][y]) %>" title="<%= y %>"
                       rel="noopener external nofollow noreferrer"><%= y %></a>
                <% } %>
            </div>
        </div>
    <% } %>
    <% if(theme.footer.randomlink){ %>
        <div class="footer-group">
            <div class="footer-title-group">
                <h3 class="footer-title">友链</h3>
                <a class="random-friends-btn" href="javascript:randomLinksList();" rel="external nofollow">
                    <i class="scoicon sco-refresh-line"></i>
                </a>
            </div>
            <div class="footer-links" id="friend-links-in-footer">
            </div>
        </div>
    <% } %>
</div>
<div id="footer-bar">
    <div class="footer-bar-links">
        <div class="footer-bar-left">
            <div id="footer-bar-tips">
                <% if(moment(theme.aside.siteinfo.runtime).year() === new Date().getFullYear()){ %>
                    <div class="copyright">© <%= moment(theme.aside.siteinfo.runtime).year() %>
                        By
                        <a class="footer-bar-link" href="/" rel="external nofollow"><%= config.author %></a>
                    </div>
                <% }else{ %>
                    <div class="copyright">© <%= moment(theme.aside.siteinfo.runtime).year() %>
                        - <%= new Date().getFullYear() %> By
                        <a class="footer-bar-link" href="/" rel="external nofollow"><%= config.author %></a>
                    </div>
                <% } %>
            </div>
        </div>
        <div class="footer-bar-right">
            <% if(theme.footer.rss.enable){ %>
                <a class="footer-bar-link" href="/rss/" rel="external nofollow"
                   target="_self">订阅</a>
            <% } %>
            <a class="footer-bar-link" href="https://github.com/DuoSco/hexo-theme-solitude" rel="external nofollow"
               target="_self">主题</a>
            <% if(theme.site.icp){ %>
                <a class="footer-bar-link" target="_blank" href="https://beian.miit.gov.cn/#/Integrated/index"
                   rel="noopener external nofollow noreferrer noopener">
                    <%= theme.site.icp %>
                </a>
            <% } %>
            <a class="footer-bar-link cc" href="<%- theme.footer.license.url %>" target="_self" rel="external nofollow">
                <i class="scoicon sco-copyright-line"></i>
                <i class="scoicon sco-creative-commons-by-line"></i>
                <i class="scoicon sco-creative-commons-nc-line"></i>
                <i class="scoicon sco-creative-commons-nd-line"></i>
            </a>
        </div>
    </div>
</div>
<div class="needEndHide" id="cookies-window">
    <div class="cookies-window-title">协议提醒助手</div>
    <div class="cookies-window-content">
        <span class="cookies-tip">查看本站为你的个人隐私做出的努力</span>
        <a class="cookies-link" href="/privacy/" title="本站如何保护你的隐私" data-pjax-state="">
            <i class="scoicon sco-arrow-right-circle-fill"></i>
        </a>
    </div>
</div>
<% if(theme.post.award.enable){%>
    <div id="quit-box" onclick="RemoveRewardMask()" style="display: none"></div>
<%} %>
<% if(theme.comment.enable){ %>
    <div class="comment-barrage">
    </div>
<% } %>