<nav id="nav" class="show">
    <div id="nav-group">
        <div id="blog_name">
            <% if(theme.nav.left.enable){ %>
                <div class="back-home-button" tabindex="-1">
                    <i class="back-home-button-icon scoicon ri-apps-fill"></i>
                    <%- partial('partial/compoment/nav/left') %>
                </div>
            <% } %>
            <a id="site-name" href="/" title="返回博客主页" target="_self">
                    <% if (theme.site.name.class === 'i_class') { %>
                        <i class="<%= theme.site.name.custom %>" style="font-size: 16px;"></i>
                      <% } else if (theme.site.name.class === 'img') { %>
                        <i style="background-image: url('<%= url_for(theme.site.name.custom) %>')"></i>
                      <% } else if (theme.site.name.class === 'text') { %>
                        <span class="scoicon"><%= theme.site.name.custom %></span>
                    <% } %>
            </a>
        </div>
        <div id="page-name-mask">
            <div id="page-name">
                <a id="page-name-text" onclick="sco.toTop()"><%= page.title || config.title %></a>
            </div>
        </div>
        <div id="menus">
            <%- partial('partial/compoment/nav/menu') %>
        </div>
        <div id="nav-left">
        </div>
        <div id="nav-right">
            <%- partial('partial/compoment/nav/right') %>
        </div>
    </div>
</nav>