<div id="sidebar" style="zoom: 1;">
    <div id="menu-mask" style="display: none;"></div>
    <div id="sidebar-menus" class>
        <span class="sidebar-menu-item-title">功能</span>
        <div class="sidebar-menu-item">
            <a class="darkmode_switchbutton menu-child" onclick="sco.switchDarkMode()" title="显示模式切换"
               href="javascript:void(0);" rel="external nofollow">
                <i class="scoicon sco-moon-clear-fill" style="font-size: 1rem;"></i>
                <span>显示模式</span>
            </a>
        </div>
        <% if(theme.nav.left.enable){ %>
            <%- partial('partial/compoment/nav/left') %>
        <% } %>
        <%- partial('partial/compoment/nav/menu') %>
        <span class="sidebar-menu-item-title">标签</span>
        <div class="card-widget card-tags card-archives card-webinfo card-allinfo">
            <div class="item-headline">
                <i class="scoicon sco-price-tag-fill"></i>
                <span>标签</span>
            </div>
            <div class="card-tag-cloud">
                <% site.tags.each(function (tag) { %>
                    <a href="<%= url_for(tag.path) %>"
                       style="font-size: 1rem; color: #d3d3d3"><%= tag.name %>
                        <sup><%= tag.length %></sup></a>
                <% }) %>
            </div>
        </div>
    </div>
</div>    