<div class="recent-post-item" onclick="pjax.loadUrl('/<%= post.path %>')">
    <div class="post_cover left_radius">
        <a href="<%= url_for(post.path) %>" title="<%= post.title %>">
            <img class="post_bg" alt="<%= post.title %>" src="<%= post.cover %>">
        </a>
    </div>
    <div class="recent-post-info">
        <div class="recent-post-info-top">
            <div class="recent-post-info-top-tips">
                <% post.categories.data.forEach(categories => { %>
                    <span class="original"><%= categories.name %></span>
                <% }) %>
                <% if(post.prev == null && is_home()){ %>
                    <span class="original">最新</span>
                <% }%>
                    <a class="unvisited-post" href="<%= url_for(post.path) %>" title="<%= post.title %>" data-pjax-state>未读</a>
            </div>
            <a class="article-title" href="<%= url_for(post.path) %>" title="<%= post.title %>">
                <%= post.title %>
            </a>
        </div>
        <div class="article-meta-wrap">
            <span class="article-meta tags">
                <% post.tags.data.forEach(tags => { %>
                    <a class="article-meta__tags" href="<%= url_for(tags.path) %>"
                       onclick="window.event.cancelBubble=true;">
                        <span class="tags-punctuation">
                            <%=tags.name%>
                        </span>
                    </a>
                <% }) %>
            </span>
            <span class="post-meta-date">
                <time datetime="<%= moment(post.date).format() %>"></time>
            </span>
        </div>
    </div>
</div>