- var showToc = !!page.toc && (toc(page.content) !== '' || page.encrypt === true);

script#config-diff.
    var PAGE_CONFIG = {
        is_post: !{is_post()},
        is_page: !{!is_post() && !is_home()},
        is_home: !{is_home()},
        page: '!{page.type}',
        toc: !{showToc},
        comment: !{!!page.comment},
        ai_text: !{is_post && page.ai_text ? "'"+ page.ai_text+"'" : false},
        color: !{page.color ? "'"+ page.color+"'" : false},
    }