<div id="album_detail" class="thumbnail_canvas">
    <div class="author-content author-content-item album single nolazyload"
         style="background: url(<%= page.cover %>) no-repeat center;background-size: cover;">
        <div class="card-content">
            <div class="author-content-item-tips">相册集</div>
            <span class="author-content-item-title"><%= page.title %></span>
            <div class="content-bottom">
                <div class="tips"><%= page.descr %></div>
            </div>
            <div class="banner-button-group">
                <a class="banner-button" onclick="pjax.loadUrl(/album/)" data-pjax-state="">
                    <i class="ri-arrow-right-up-fill" style="font-size:1.2rem"></i> &nbsp;
                    <span class="banner-button-text">返回</span>
                </a>
            </div>
        </div>
    </div>
    <% for(i in site.data.album){ %>
        <% const item = site.data.album[i] %>
        <% let path_name = (is_current(item.path_name)) ? true : false %>
        <% if (path_name && item.album_list) { %>
            <section class="timeline page-1" style="margin-top: 1rem;">
                <ul id="waterfall" class="list">
                    <% item.album_list.forEach(function(iten, index) { %>
                        <li class="album-item">
                            <div class="album-content">
                                <p class="datacont"><%= iten.content %></p>
                                <% if (iten.image) { %>
                                    <div class="album-container-img">
                                        <% iten.image.forEach(function(itel, indey) { %>
                                            <img src="<%= iten.image[indey] %>"
                                                 data-lazy-src="<%= iten.image[indey] %>">
                                        <% }) %>
                                        <div class="album-content-noimg"></div>
                                        <div class="album-content-noimg"></div>
                                        <div class="album-content-noimg"></div>
                                    </div>
                                    <hr>
                                    <div class="album-bottom">
                                        <div class="album-info">
                                            <div class="album-info-time">
                                                <i class="ri-camera-2-fill"></i> &nbsp;
                                                <time class="datatime"
                                                      datetime="<%= moment(iten.date).format() %>"></time>
                                            </div>
                                            <% if (iten.link) { %>
                                                <a class="album-content-link" target="_blank"
                                                   title="跳转到短文指引的链接" href="<%= iten.link %>"
                                                   rel="external nofollow">
                                                    <i class="ri-link-m"></i>
                                                    链接
                                                </a>
                                            <% } %>
                                            <% if (iten.address) { %>
                                                <div class="album-info-address">
                                                    <i class="ri-link-m"></i>
                                                    <span><%= iten.address %></span>
                                                </div>
                                            <% } %>
                                            <div class="album-info-from">
                                                <i class=""></i>
                                                <% if (iten.from) { %>
                                                    <span><%= iten.from %></span>
                                                <% } %>
                                            </div>
                                        </div>
                                        <a class="bber-reply" onclick="sco.toTalk('<%- iten.content %>')" >
                                            <i class="ri-message-3-fill" style="font-size: 1rem;">
                                            </i>
                                        </a>
                                    </div>
                                <% } %>
                            </div>
                        </li>
                    <% }) %>
                </ul>
            </section>
        <% } %>
    <% } %>
    <div id="article-container">
        <%- page.content %>
    </div>
</div>
