div#console
    div.close-btn(onclick="sco.hideConsole()")
        i.solitude.st-close-fill
    if theme.comment.newComment
        div.console-card-group
            div.console-card-group-left
                div.console-card#card-newest-comments(onclick="sco.hideConsole()")
                    div.card-content
                        div.author-content-item-tips= _p('console.comment_tip')
                        div.author-content-item-title= _p('console.comment_title')
                    div.aside-list

            div.console-card-group-right
                div.console-card.tags(onclick="sco.hideConsole()")
                    div.card-content
                        div.author-content-item-tips= _p('console.tag_tip')
                        div.author-content-item-title= _p('console.tag_title')
                    div.card-tag-cloud
                        each tag in site.tags.find({ parent: { $exists: false } }).data
                            a(href=url_for(tag.path))= tag.name
                                sup= tag.length

                div.console-card.history(onclick="sco.hideConsole()")
                    include ./widgets/aside/asideArchive.pug

    div.button-group
        div.console-btn-item
            a.darkmode_switchbutton(onclick="sco.switchDarkMode()", title=_p('console.switch_darkmode'), href="javascript:void(0);")
                i.solitude.st-moon-clear-fill
        div.console-btn-item#consoleHideAside
            a.asideSwitch(onclick="sco.switchHideAside()", title=_p('console.switch_hideAside'), href="javascript:void(0);")
                i.solitude.st-side-bar-fill
        if theme.keyboard.enable
            div.console-btn-item#consoleKeyboard(onclick="sco.switchKeyboard()")
                a.keyboardSwitch(title=_p('console.switch_keyboard'), href="javascript:void(0);")
                    i.solitude.st-keyboard-box-fill
        if theme.capsule.enable
            div.console-btn-item#consoleMusic(onclick="sco.musicToggle()")
                a.music-switch(title=_p('console.switch_music'), href="javascript:void(0);")
                    i.solitude.st-disc-fill
        if theme.comment.enable && theme.comment.commentBarrage
            div.console-btn-item.on#consoleCommentBarrage(onclick="sco.switchCommentBarrage()")
                a.commentBarrage
                    i.solitude.st-chat-fill
    div.console-mask(onclick="sco.hideConsole()")