- const list = theme.keyboard.list || []
#keyboard-tips
    .keyboardTitle=_p('keyboard.title')
    .keyboardList
        each item in list
            .keyboardItem
                .keyGroup
                    .key= 'Shift'
                    .key= item.key
                .keyContent
                    .content= item.name
script.
    const toggleKeyboardTips = (show) => {
        const keyboardTips = document.getElementById('keyboard-tips');
        if (keyboardTips) {
            keyboardTips.classList.toggle('show', show);
        }
    };

    const handleKeyEvent = (e, isKeyDown) => {
        const keyboards = !{JSON.stringify(list)};
        if (e.keyCode === 16) {
            toggleKeyboardTips(isKeyDown);
        }

        if (isKeyDown) {
            keyboards.forEach(keyboard => {
                if (e.key === keyboard.key) {
                    if (keyboard.url) {
                        keyboard.url.startsWith('http') ? window.open(keyboard.url) : pjax.loadUrl(keyboard.url);
                    } else if (keyboard.sco) {
                        sco[keyboard.sco]?.();
                    } else if (keyboard.func) {
                        window[keyboard.func]?.();
                    }
                }
            });
        }
    };

    function openKeyboard() {
        window.addEventListener('keyup', (e) => handleKeyEvent(e, false));
        window.addEventListener('keydown', (e) => handleKeyEvent(e, true));
    }

    function closeKeyboard() {
        window.removeEventListener('keyup', (e) => handleKeyEvent(e, false));
        window.removeEventListener('keydown', (e) => handleKeyEvent(e, true));
    }

    const sco_keyboards = localStorage.getItem('keyboard') === 'true';
    if (sco_keyboards) {
        openKeyboard();
        document.getElementById('consoleKeyboard')?.classList.add('on');
    }