div#sidebar(style="zoom: 1;")
    div#menu-mask(style="display: none;")
    div#sidebar-menus
        .site-data
            .data-item.is-center
                .data-item-link
                    a(href=url_for('/archives/'))
                        .headline=_p('page.archives')
                        .length-num=site.posts.find({ parent: { $exists: false } }).length
            .data-item.is-center
                .data-item-link
                    a(href=url_for('/categories/'))
                        .headline=_p('page.category')
                        .length-num=site.categories.find({parent: {$exists: false}}).length
            .data-item.is-center
                .data-item-link
                    a(href=url_for('/tags/'))
                        .headline=_p('page.tag')
                        .length-num=site.tags.find({parent: {$exists: false}}).length
        span.sidebar-menu-item-title= __('sidebar.function')
        div.sidebar-menu-item
            span.darkmode_switchbutton.menu-child(onclick="sco.switchDarkMode()")
                i.solitude.fa-solid.fa-circle-half-stroke
                span= __('sidebar.darkmode')
        include ./widgets/nav/group
        include ./widgets/nav/menu.pug
        span.sidebar-menu-item-title= __('page.tag')
        div.card-widget.card-tags.card-archives.card-webinfo.card-allinfo
            div.card-tag-cloud
                each tag in site.tags.find({ parent: { $exists: false } }).data
                    a(href=url_for(tag.path))= tag.name
                        sup= tag.length