- award = site.data.about.award

- var sum = 0
if site.data.about.rewardList
    .author-content
        .author-content-item.single.reward
            .author-content-item-tips= _p('award.about.tip')
            span.author-content-item-title= _p('award.about.title')
            .author-content-item-description
                = award.description
            .reward-list-all
                each reward in site.data.about.rewardList
                    - sum += reward.money
                    .reward-list-item
                        .reward-list-item-name= reward.name
                        .reward-list-bottom-group
                            .reward-list-item-money(style=(reward.vip ? "background: var(--efu-vip);color: var(--efu-white)" : ""))
                                if reward.icon
                                    i.solitude(class=reward.icon)
                                | ¥ #{reward.money}
                            time.datatime.reward-list-item-time(datetime=moment(reward.time).format())
                if theme.post.award.enable
                    .post-reward
                        .post-reward(onclick="AddRewardMask()")
                        .reward-button(title=_p('award.about.tip1'))
                            i.solitude.st-hand-heart-fill
                            = _p('award.about.tip1')
                        .reward-main
                            ul.reward-all
                                span.reward-title= _p('award.about.tip2')
                                ul.reward-group
                                    - var rewards = [{image: theme.post.award.wechat, description: _p('award.wechat')}, {image: theme.post.award.alipay, description: _p('award.alipay')}]
                                    each reward in rewards
                                        li.reward-item
                                            a(href=reward.image, target="_blank")
                                                img.post-qr-code-img(alt=reward.description, src=reward.image)
                                            .post-qr-code-desc= reward.description
            .reward-list-tips
                p= award.tips.replace('{sum}', sum.toFixed(2))