- var game1 = site.data.about.game1
- var game2 = site.data.about.game2

if game1 || game2
    .author-content
        if game1
            .author-content-item.game-apex(style=`background: url(${game1.img}) no-repeat top; background-size: cover;`)
                .card-content
                    .author-content-item-tips= game1.title
                    span.author-content-item-title= game1.subtitle
                    .content-bottom
                        .tips= game1.tips_left
                        .tips= game1.tips_right
        if game2
            .author-content-item.game-jl(style=`background: url(${game2.img}) no-repeat top; background-size: cover;`)
                .card-content
                    .author-content-item-tips= game2.title
                    span.author-content-item-title= game2.subtitle
                    .content-bottom
                        .tips= game2.tips_left
                        .tips= game2.tips_right

if site.data.about.likes
    - const likes = site.data.about.likes
    .author-content
        each like in likes
            .author-content-item(class=like.type, style=`background: url(${like.bg}) no-repeat center;`)
                .card-content
                    .author-content-item-tips= like.tips
                    span.author-content-item-title= like.title
                    .content-bottom
                        .tips= like.subtips
                        if like.button
                            .banner-button-group
                                a.banner-button(href=url_for(like.button_link))
                                    i.solitude.fa-solid.fa-circle-chevron-right
                                    span.banner-button-text= like.button_text