- const motto = site.data.about.motto
- const expertise = site.data.about.expertise

.author-content
    .author-content-item.maxim
        .author-content-item-tips= motto.title
        span.maxim-title
            span(style="opacity: 0.6; margin-bottom:8px;")= motto.prefix
            span= motto.content
    .author-content-item.buff
        .card-content
            .author-content-item-tips= expertise.title
            span.buff-title
                span(style="opacity: 0.6; margin-bottom:8px;")
                    | #{expertise.prefix}
                    span.inline-word= expertise.specialist
                span
                    | #{expertise.content}
                    span.inline-word= expertise.level