- const motto = site.data.about.motto
- const expertise = site.data.about.expertise

if motto || expertise
    .author-content
        if motto
            .author-content-item.maxim
                .author-content-item-tips= motto.title
                span.maxim-title
                    span= motto.prefix
                    span= motto.content
        if expertise
            .author-content-item.buff
                .card-content
                    .author-content-item-tips= expertise.title
                    span.buff-title
                        span
                            | #{expertise.prefix}
                            span.inline-word= expertise.specialist
                        span
                            | #{expertise.content}
                            span.inline-word= expertise.level