.author-content
    if site.data.about.tj
        .about-statistic.author-content-item(style=`background: url(${site.data.about.tj.img});`)
            .card-content
                .author-content-item-tips 数据
                span.author-content-item-title 访问统计
                #statistic
                .post-tips
                    | 统计信息来自
                    a(href="https://invite.51.la/1NzKqTeb?target=V6") 51la网站统计
                if theme.about.echarts.enable
                    .banner-button-group
                        a.banner-button(onclick="pjax.loadUrl('/echart/');")
                            i.scoicon.sco-right-btn-fill
                            span.banner-button-text 文章统计
            script.
                fetch("#{site.data.about.tj.url}")
                    .then(res => res.text())
                    .then(data => {
                        const title = ["最近活跃", "今日人数", "今日访问", "昨日人数", "昨日访问", "本月访问", "总访问量"];
                        let num = data.match(/(<\/span><span>).*?(\/span><\/p>)/g);
                        num = num.map(el => {
                            let val = el.replace(/(<\/span><span>)/g, "");
                            return val.replace(/(<\/span><\/p>)/g, "");
                        });
                        const s = document.getElementById("statistic");
                        let html = '';
                        for (let i = 0; i < num.length; i++) {
                            html += `<div><span>${title[i]}</span><span id="${title[i]}">${num[i]}</span></div>`;
                        }
                        s.innerHTML = html;
                    });


    if site.data.about.oneself
        style.
            :root {
                --site-about-oneself-map--light: url(#{site.data.about.oneself.map.light});
                --site-about-oneself-map--dark: url(#{site.data.about.oneself.map.dark});
            }
        - const oneself = site.data.about.oneself
        .author-content-item-group.column.mapAndInfo
            .author-content-item.map.single
                span.map-title 我现在住在 #{oneself.location}
            .author-content-item.selfInfo.single
                div
                    span.selfInfo-title 生于
                    span.selfInfo-content(style="color: #43a6c6;")= oneself.birthYear
                div
                    span.selfInfo-title= oneself.university
                    span.selfInfo-content(style="color: #c69043;")= oneself.major
                div
                    span.selfInfo-title 现在职业
                    span.selfInfo-content(style="color: #b04fe6;")= oneself.occupation

if site.data.about.cause
    .author-content
        .create-site-post.author-content-item.single
            .author-content-item-tips 心路历程
            span.author-content-item-title 为什么建站？
            != site.data.about.cause