.banners-title
    .banners-title-small= page.title
    .banners-title-big= page.desc

.banner-button-group
    if theme.footer.randomlink
        a.banner-button.secondary(onclick="travelling()")
            i.solitude.fa-solid.fa-tower-broadcast
            span.banner-button-text=_p('link.banner.random')
    if theme.comment.use
        a.banner-button(onclick="sco.scrollToComment()")
            i.solitude.fa-solid.fa-circle-chevron-right
            span.solitude.banner-button-text=_p('link.banner.toComment')

.tags-group-all.nowrapMove
    .tags-group-wrapper
        - const data = site.data.links.links
        - for (let i = 0; i < 2; i++)
        each x in data
            if x.type === "item"
                - var pairs = []
                each y, index in x.link_list
                    if (index % 2 === 0)
                        - pairs.push([y])
                    else
                        - pairs[pairs.length - 1].push(y)
                each pair in pairs
                    .tags-group-icon-pair
                        each y in pair
                            a.tags-group-icon(href=url_for(y.link), title=y.name)
                                img(src=y.avatar + (site.data.links.banner_suffix || ''), title=y.name)
                                span.tags-group-title=y.name