div.banners-title
    div.banners-title-big!= theme.hometop.banner.title
    div.banners-title-small= theme.hometop.banner.url
- var group = theme.hometop.group
if group
    div.banners-links
        each item,index in group
            if index % 2 === 0
                .banners-link
                    a.banners-link-btn(href=item.url class=item.name)
                        i.scoicon(class=item.icon)
                        .banners-link-title= item.name
                    if group[index + 1]
                        a.banners-link-btn(href=group[index + 1].url class=group[index + 1].name)
                            i.scoicon(class=group[index + 1].icon)
                            .banners-link-title= group[index + 1].name

div.tags-group-all
    .tags-group-wrapper
        each i in [1,2]
            - var keys = Object.keys(theme.hometop.banner.icon)
            - var pairs = keys.map((val, i) => i % 2 ? [keys[i - 1], val] : []).filter(x => x.length)
            each pair in pairs
                .tags-group-icon-pair
                    each key in pair
                        .tags-group-icon(style=`background: ${theme.hometop.banner.icon[key].color}`)
                            img(src=theme.hometop.banner.icon[key].img, title=key)