div.recent-post-item(onclick="pjax.loadUrl('" + url_for(post.path) + "')")
    div.post_cover
        a(href=url_for(post.path), title=post.title)
            img.post_bg(src=url_for(post.cover), alt=post.title)
    div.recent-post-info
        div.recent-post-info-top
            div.recent-post-info-top-tips
                if post.sticky && is_home()
                    span.article-meta.sticky-warp
                        i.solitude.st-thumbtack-solid.sticky.orange
                        span.sticky.orange= _p('home.recent-post.sticky')
                each category in post.categories.data
                    span.original= category.name

                if post.prev == null && is_home()
                    span.original= _p('home.recent-post.new')

                a.unvisited-post(href=url_for(post.path))= _p('home.recent-post.read')

            a.article-title(href=url_for(post.path), title=post.title)= post.title

        div.article-meta-wrap
            span.article-meta.tags
                each tag in post.tags.data
                    a.article-meta__tags(href=tag.path, onclick="event.stopPropagation();")
                        span.tags-punctuation=tag.name

            span.post-meta-date
                time(datetime=moment(post.date))
if (theme.google_adsense && theme.google_adsense.enable && theme.google_adsense.auto_ads === false)
    if (index + 1) % 3 == 0
        div.recent-post-item.google-ads-warp
            ins.adsbygoogle(style="display:block; text-align:center;", data-ad-layout="in-article", data-ad-format="fluid", data-ad-client=theme.google_adsense.client, data-ad-slot=theme.google_adsense.slot)
            script.
                (adsbygoogle = window.adsbygoogle || []).push({});