div.flink#banners
    include ../widgets/page/links/banner
if theme.thirdparty.circle.angle.enable
    include ../widgets/page/moments/angle
div.flink#article-container
    each data in site.data.links.links
        h2= data.class_name
        div.flink-desc= data.descr
        case data.type
            when 'card'
                include ../widgets/page/links/linksCard
            when 'item'
                include ../widgets/page/links/linksItem
h3(align='end') ——本站友链排序不分先后，所有站点都值得一看。
if theme.comment.enable
    h2(id="友情链接申请")= "友情链接申请"
    div#article-container!= page.content
    p 请<b>勾选</b>你符合的条件：
    div#friendlink_checkboxs
        p
            label
                input(type='checkbox', onclick='checkForm()')
                | 我已添加 <b>#{config.title}</b> 博客的友情链接
        p
            label
                input(type='checkbox', onclick='checkForm()')
                | 我的链接主体为 <b>个人</b>，网站类型为<b>博客</b>
        p
            label
                input(type='checkbox', onclick='checkForm()')
                | 我的网站现在可以在中国大陆区域正常访问
        p
            label
                input(type='checkbox', onclick='checkForm()')
                | 网站内容符合中国大陆法律法规