.webinfo
    if theme.aside.siteinfo.postcount
        .webinfo-item
            .webinfo-item-title
                i.item-icon.solitude.st-folder-fill
                .item-name= __('aside.postcount')
            .item-count= site.posts.length
    if theme.busuanzi
        if theme.aside.siteinfo.pv
            .webinfo-item
                .webinfo-item-title
                    i.item-icon.solitude.st-visitor-line
                    .item-name= __('aside.pv')
                if theme.busuanzi_use === 0
                    span#busuanzi_value_site_pv
                        i.solitude.st-loading-line
                else
                    span#busuanzi_site_pv
                        i.solitude.st-loading-line
        if theme.aside.siteinfo.uv
            .webinfo-item
                .webinfo-item-title
                    i.item-icon.solitude.st-team-fill
                    .item-name= __('aside.uv')
                if theme.busuanzi_use === 0
                    span#busuanzi_value_site_uv
                        i.solitude.st-loading-line
                else
                    span#busuanzi_site_uv
                        i.solitude.st-loading-line
    if theme.aside.siteinfo.runtimeenable
        .webinfo-item
            .webinfo-item-title
                i.item-icon.solitude.st-calendar-todo-fill
                .item-name= __('aside.runtime')
            .item-count#runtimeshow
    if theme.aside.siteinfo.updatetime
        .webinfo-item
            .webinfo-item-title
                i.item-icon.solitude.st-loop-left-fill
                .item-name= __('aside.updatetime')
            time.item-count(datetime=new Date())
    if theme.wordcount && theme.aside.siteinfo.wordcount
        .webinfo-item
            .webinfo-item-title
                i.item-icon.solitude.st-word-fill
                .item-name= __('aside.wordcount')
            .item-count= totalcount(site)