.card-widget.card-info
    .card-content
        .card-info-avatar.is-center
            .author-info__top-group
                .author-info__sayhi#author-info__sayhi(onclick="sco.changeSayHelloText()") 一日之计在于晨
        .avatar-img-group
            img.avatar-img(alt="avatar", src=theme.aside.card.author.img)
            .avatar-sticker
                svg.avatar-sticker-img(alt="avatar", aria-hidden="true")
                    use(xlink:href=theme.aside.card.author.state)
                script(src=url_for(theme.aside.card.author.js))
        .author-info__description_group
            .author-info__description!= theme.aside.card.content
            .author-info__description2!= theme.aside.card.content2
        .author-info__bottom-group
            a.author-info__bottom-group-left(href=theme.about ? "/about" : "/", data-pjax-state)
                .author-info__name= config.author
                .author-info__desc!= config.subtitle
            .card-info-social-icons.is-center
                each value, key in theme.aside.card.information
                    a.social-icon(href=url_for(value.url), title=key)
                        i(class=value.icon)