.card-widget(class=item.class, id=item.id)
    .item-headline
        i(class=item.icon)
        span=item.title
    div(class=item.content_class ||'item-content', id=item.content_id, style=item.content_css)
        != item.content_html