.card-widget.card-recent-post
    .item-headline
        i.solitude.fa-solid.fa-map
        span= _p('aside.newpost')
    .aside-list
        - let index = 1
        each post in site.posts.data.sort((a, b) => b.date < a.date ? -1 : 1)
            if index <= 5
                .aside-list-item
                    a.thumbnail(href=url_for(post.path) title=post.title)
                        img(alt=post.title src=url_for(post.cover))
                    .content
                        span.title(href=url_for(post.path) title=post.title)= post.title
                        if post.categories.data[0]
                            span.article-recent_post_categories(href=url_for(post.path))= post.categories.data[0].name
                - index++