if theme.aside.welcome.enable
    .card-widget.card-welcome
        .item-headline
            i(class=theme.aside.welcome.icon || 'scoicon sco-map-pin-fill')
            span= theme.aside.welcome.title || __('aside.welcome')
        #welcome-info

    script(data-pjax).
        var longitude = '#{theme.aside.welcome.longitude}';
        var Latitude = '#{theme.aside.welcome.Latitude}';
        var txkey = '#{theme.aside.welcome.key}';
        var ipLoacation;