.card-widget(class=item.class_name, id=item.id_name)
    .item-headline
        i(class=item.icon)
        span=item.name
    div(class=item.class_content ||'item-content', id=item.id_content, style=item.style_content)
        != item.html