<% const cdn = theme.cdn.body %>
<%- js(cdn.pjaxjs) %>
<% if(theme.lazyload.enable){ %>
    <%- js(cdn.lazyloadjs) %>
<% } %>
<%- js(cdn.snackbarjs) %>
<% if(theme.lightbox){ %>
    <%- js(cdn.viewimagejs) %>
<% } %>
<% if(theme.hometop.bbtime){ %>
    <%- css(cdn.swipercss) %>
    <%- js(cdn.swiperjs) %>
<% } %>
<div id="js-pjax">
    <% if(page.type === 'says' || page.type === 'album' || page.type === 'album_detail' ){ %>
        <%- js(cdn.waterfalljs) %>
        <script>
            window.addEventListener('resize', utils.throttle(function () {
                if (document.getElementById('waterfall')) {
                    sco.reflashEssayWaterFall();
                }
            }), 500);
        </script>
    <% } %>
    <% if(theme.thirdparty.busuanzi && (theme.aside.siteinfo.uv || theme.aside.siteinfo.pv)){ %>
        <script async
                src="<%= cdn.busuanzijs %>"></script>
    <% } %>
</div>
<% if(theme.thirdparty.aplayer.enable){ %>
    <%- css(cdn.aplayercss) %>
    <%- js(cdn.aplayerjs) %>
    <%- js(cdn.metingjs) %>
    <script>
        var meting_api = "<%- theme.thirdparty.aplayer.api %>";
    </script>
<% } %>
<% if(theme.post.covercolor && !theme.post.covercolor.local){ %>
    <%- js('/js/extend/covercolor/web') %>
<% }else{ %>
    <%- js('/js/extend/covercolor/local') %>
<% } %>

<% if(theme.footer.randomlink){ %>
    <%- randomLinks() %>
<% } %>

<% if(theme.comment.enable){
%>
    <%- js('/js/extend/console/comment')
    %>
<% } %>

<% if (page.katex){ %>
    <% css(cdn.katexcss) %>
    <% js(cdn.katexjs) %>
<% } %>