<% if (theme.about) { %>
<div id="about-page">
    <%- partial('partial/compoment/about/authorinfo' ) %>
    <%- partial('partial/compoment/about/contentinfo' ) %>
    <%- partial('partial/compoment/about/skillsinfo' ) %>
    <%- partial('partial/compoment/about/personalities' ) %>
    <%- partial('partial/compoment/about/motto' ) %>
    <%- partial('partial/compoment/about/hobbies' ) %>
    <%- partial('partial/compoment/about/other' ) %>
    <%- partial('partial/compoment/about/award' ) %>
</div>
<% if(theme.thirdparty.echarts.enable){%>
    <%- js(theme.thirdparty.echarts.js) %>
<%} %>
<% } %>
