<main class="layout hide-aside" id="content-inner">
    <div id="page">
        <div class="rss-plan-list">
            <a class="rss-plan-item rss-plan-wechat" href="<%- theme.footer.rss.wechatOA %>" title="公众号"
               target="_blank">
                <div class="rss-plan-description">推送精选文章<br>推送全文</div>
                <div class="rss-plan-info-group">
                    <div class="rss-plan-title">公众号订阅</div>
                    <div class="rss-plan-info">推荐的订阅方式</div>
                    <img class="rss-plan-icon" src="https://bu.dusays.com/2023/11/01/6541d14a4de78.png" alt="wechat">
                </div>
            </a>
            <a class="rss-plan-item rss-plan-mail" href="<%- theme.footer.rss.emailOA %>" rel="external nofollow"
               title="email" target="_blank">
                <div class="rss-plan-description">推送全部文章<br>推送封面与简介</div>
                <div class="rss-plan-info-group">
                    <div class="rss-plan-title">邮件订阅</div>
                    <div class="rss-plan-info">推荐的订阅方式</div>
                    <img class="rss-plan-icon" src="https://bu.dusays.com/2023/11/01/6541d16c3ea22.png" alt="email">
                </div>
            </a><a class="rss-plan-item rss-plan-rss" href="<%- theme.footer.rss.rssOA %>" title="rss" target="_blank">
                <div class="rss-plan-description">推送全部文章<br>推送简介</div>
                <div class="rss-plan-info-group">
                    <div class="rss-plan-title">RSS</div>
                    <div class="rss-plan-info">备用订阅方式</div>
                    <img class="rss-plan-icon" src="https://bu.dusays.com/2023/11/01/6541d184e2a09.png" alt="rss">
                </div>
            </a></div>
        <%- page.content %>

        <% if(page.comment){ %>
            <%- partial('partial/compoment/third-party/comments/comment') %>
        <% } %>
    </div>

    <% if(page.aside){ %>
        <%- partial('partial/compoment/aside/aside') %>
    <% } %>
</main>