script.
    !async function () {
        const htmlTagRegex = /<[^>]+>/g;

        await fetch('!{theme.says.mode_link}')
            .then(res => res.json())
            .then(res => {
                let list = res.filter(item => item.content).slice(0, 10);

                document.querySelector('#bber-talk').innerHTML = list.map(item => {
                    let content = item.content ? item.content.replace(htmlTagRegex, '') : '';
                    if (item.image) {
                        content += '!{_p('home.bbtime.image')}';
                    } else if (item.aplayer) {
                        content += '!{_p('home.bbtime.aplayer')}';
                    } else if (item.video) {
                        content += '!{_p('home.bbtime.video')}';
                    }
                    return `<div class="li-style swiper-slide">${content}</div>`;
                }).join('');

                document.addEventListener('DOMContentLoaded', function () {
                    sco.initbbtalk();
                });
            }).catch(err => console.log('bbtime |', err));
    }();