script.
    !async function () {
        await fetch('!{theme.says.mode_link}')
            .then(response => response.json())
            .then(data => {
                let aplayerRegex = /{aplayer,(.*?),(.*?)}/g;
                let bilibiliRegex = /{bilibili,(.*?)}/g;
                let playerRegex = /{player,(.*?)}/g;
                let imageRegex = /!\[\]\((.*?)\)/g;
                let contentRegex = /#.*?\s([^{\n]*)/g
                const list = data.slice(0, 10)
                document.querySelector('#bber-talk').innerHTML = list.map(item => {
                    let content = item.content.match(contentRegex, '$1').map(item => item.replace(contentRegex, '$1'));
                    let aplayer = item.content.match(aplayerRegex) ? '!{_p("home.bbtime.aplayer")}' : '';
                    let video = item.content.match(playerRegex) ? '!{_p("home.bbtime.video")}' : item.content.match(bilibiliRegex) ? '!{_p("home.bbtime.video")}' : '';
                    let imageBox = item.content.match(imageRegex) ? '!{_p("home.bbtime.image")}' : '';

                    return `<div class="li-style swiper-slide">${content+aplayer+video+imageBox}</div>`
                }).join(' ')
                sco.initbbtalk()
            })
            .catch(error => console.error('bbtime | ', error));
    }()