div#rightMenu
    div.rightMenu-group.rightMenu-small
        div.rightMenu-item#menu-backward
            i.solitude.st-arrow-left-line
        div.rightMenu-item#menu-forward
            i.solitude.st-arrow-right-line
        div.rightMenu-item#menu-refresh
            i.solitude.st-restart-line
        div.rightMenu-item#menu-top
            i.solitude.st-arrow-up-line
    div.rightMenu-group.rightMenu-line.rightMenuPlugin
        div.rightMenu-item#menu-copytext
            i.solitude.st-copy-fill
            span= _p('rightmenu.copytext')
        div.rightMenu-item#menu-pastetext
            i.solitude.st-clipboard-fill
            span= _p('rightmenu.pastetext')
        if theme.comment.enable
            a.rightMenu-item#menu-commenttext
                i.solitude.st-chat-new-fill
                span= _p('rightmenu.commenttext')
        div.rightMenu-item#menu-newwindow
            i.solitude.st-window-fill
            span= _p('rightmenu.newwindow')
        div.rightMenu-item#menu-copylink
            i.solitude.st-link-line
            span= _p('rightmenu.copylink')
        div.rightMenu-item#menu-copyimg
            i.solitude.st-copy-fill
            span= _p('rightmenu.copyimg')
        div.rightMenu-item#menu-downloadimg
            i.solitude.st-download-cloud-fill
            span= _p('rightmenu.downloadimg')
        div.rightMenu-item#menu-search
            i.solitude.st-search-line
            span= _p('rightmenu.search')
        div.rightMenu-item#menu-music-toggle
            i.solitude.st-play-fill
            span= _p('rightmenu.music.toggle')
        div.rightMenu-item#menu-music-back
            i.solitude.st-skip-back-fill
            span= _p('rightmenu.music.back')
        div.rightMenu-item#menu-music-forward
            i.solitude.st-skip-forward-fill
            span= _p('rightmenu.music.forward')
        div.rightMenu-item#menu-music-playlist(onclick=`window.open('${theme.capsule.server === 'tencent' ? `https://y.qq.com/n/ryqq/playlist/${theme.capsule.id}` : `https://music.163.com/#/playlist?id=${theme.capsule.id}`}', '_blank');`)
            i.solitude.st-play-list-2-line
            span= _p('rightmenu.music.playlist')
        div.rightMenu-item#menu-music-copyMusicName
            i.solitude.st-copy-fill
            span= _p('rightmenu.music.copyMusicName')
    div.rightMenu-group.rightMenu-line.rightMenuOther
        a.rightMenu-item.menu-Link#menu-randomPost
            i.solitude.st-signal-tower-fill
            span= _p('rightmenu.randomPost')
        a.rightMenu-item.menu-link(href="/categories/")
            i.solitude.st-checkbox-multiple-blank-fill
            span= _p('rightmenu.categories')
        a.rightMenu-item.menu-link(href="/tags/")
            i.solitude.st-price-tag-fill
            span= _p('rightmenu.tags')
    div.rightMenu-group.rightMenu-line.rightMenuOther
        div.rightMenu-item#menu-copy
            i.solitude.st-external-link-fill
            span= _p('rightmenu.copyaddress')
        if  theme.comment.enable && theme.comment.commentBarrage
            div.rightMenu-item#menu-commentBarrage
                i.solitude.st-chat-fill
                span.menu-commentBarrage-text= _p('rightmenu.commentBarrage')
        div.rightMenu-item#menu-darkmode
            i.solitude.st-moon-clear-fill
            case theme.display_mode.type
                when 'auto'
                when 'light'
                    span.menu-darkmode-text= _p('rightmenu.dark')
                when 'dark'
                    span.menu-darkmode-text= _p('rightmenu.light')
        if theme.translate.enable
            div.rightMenu-item#menu-translate
                case theme.translate.defaultEncoding
                    when 2
                        i.solitude.st-panben-line
                        span= _p('rightmenu.chs_to_cht')
                    when 1
                        i.solitude.st-jianben-line
                        span= _p('rightmenu.cht_to_chs')
div#rightmenu-mask