<div class="banners-title">
    <div class="banners-title-small"><%= page.title %></div>
    <div class="banners-title-big"><%= page.desc %></div>
</div>
<div class="banner-button-group">
    <% if (theme.footer.randomlink){ %>
        <a class="banner-button secondary" onclick="travelling()">
            <i class="scoicon sco-random"></i>
            <span class="banner-button-text">随机访问</span>
        </a>
    <% } %>
    <a class="banner-button" onclick="sco.scrollToComment()">
        <i class="scoicon sco-right-btn-fill"></i>
        <span class="banner-button-text">申请友链</span>
    </a>
</div>
<div class="tags-group-all nowrapMove">
    <div class="tags-group-wrapper">
        <% const data = site.data.links.links %>
        <% for (let i = 0; i < 2; i++){ %>
            <% data.forEach(x => {
            if (x.type === "item") {
            x.link_list.forEach((y, index) => { %>
                <% if(index % 2 === 0){ %>
                <div class="tags-group-icon-pair">
                    <% } %>
                    <a class="tags-group-icon" href="<%= url_for(y.link) %>" title="<%= y.name %>">
                        <img src="<%= y.avatar %>" title="<%= y.name %>">
                    </a>
                    <% if(index % 2 !== 0 || index === x.link_list.length - 1){ %>
                </div>
                <% } %>
            <% })
            }
            }) %>
        <% } %>
    </div>
</div>
  
  
  

