<div class="author-content">
    <div class="author-content-item game-apex">
        <div class="card-content">
            <div class="author-content-item-tips"><%= site.data.about.game1.title %></div>
            <span class="author-content-item-title"><%= site.data.about.game1.subtitle %></span>
            <div class="content-bottom">
                <div class="tips"><%= site.data.about.game1.tips_left %></div>
                <div class="tips"><%= site.data.about.game1.tips_right %></div>
            </div>
        </div>
    </div>
    <div class="author-content-item game-jl">
        <div class="card-content">
            <div class="author-content-item-tips"><%= site.data.about.game2.title %></div>
            <span class="author-content-item-title"><%= site.data.about.game2.subtitle %></span>
            <div class="content-bottom">
                <div class="tips"><%= site.data.about.game2.tips_left %></div>
                <div class="tips"><%= site.data.about.game2.tips_right %></div>
            </div>
        </div>
    </div>
</div>
<% const likes = site.data.about.likes; %>
<div class="author-content">
    <% likes.forEach(function(like) { %>
        <div class="author-content-item <%= like.type %>" style="background: url(<%= like.bg %>) no-repeat center;">
            <div class="card-content">
                <div class="author-content-item-tips"><%= like.tips %></div>
                <span class="author-content-item-title"><%= like.title %></span>
                <div class="content-bottom">
                    <div class="tips"><%= like.subtips %></div>
                    <% if(like.button){ %>
                        <div class="banner-button-group">
                            <a class="banner-button" href="<%= like.button_link %>" target="_blank" rel="noopener nofollow">
                                <i class="scoicon sco-right-btn-fill"></i>
                                <span class="banner-button-text"><%= like.button_text %></span>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    <% }); %>
</div>
