<% const personalities = site.data.about.personalities; %>
<div class="author-content">
    <div class="author-content-item personalities">
      <div class="author-content-item-tips"><%= personalities.tips %></div>
      <span class="author-content-item-title"><%= personalities.title %></span>
      <div class="title2" style="color: <%= personalities.color %>;"><%= personalities.type %></div>
      <div class="image"><img src="<%= personalities.image %>"></div>
      <div class="post-tips">在 <a href="https://www.16personalities.com/" target="_blank" rel="noopener nofollow"><%= personalities.linkText %></a> 了解更多关于 <a target="_blank" rel="noopener external nofollow" href="<%= personalities.typeLink %>"><%= personalities.typeName %></a></div>
    </div>
    <div class="author-content-item myphoto"><img class="author-content-img" src="<%= personalities.myphoto %>" alt="自拍"></div>
  </div>
