- page.type = is_post() ? 'post' : page.type

div
    script(src=url_for(theme.cdn.utils))
    script(src=url_for(theme.cdn.main))

script(src=url_for(theme.cdn.pjax))
if theme.lazyload.enable
    script(src=url_for(theme.cdn.lazyload))
script(src=url_for(theme.cdn.snackbar))
if theme.lightbox
    script(src=url_for(theme.cdn.view_image))
if theme.says.home_mini
    script(src=url_for(theme.cdn.swiper_js))

if theme.rightside.enable
    include ../widgets/rightside/index.pug
    script(src=url_for(theme.cdn.rightside_js))

div#js-pjax
    if page.type === 'says'
        script.
            window.addEventListener('resize', utils.throttle(function () {
                if (document.getElementById('waterfall')) {
                    sco.reflashEssayWaterFall();
                }
            }), 500);
            sco.reflashEssayWaterFall();
    if theme.thirdparty.busuanzi && (theme.aside.siteinfo.uv || theme.aside.siteinfo.pv || theme.thirdparty.busuanzi.usecomment === false)
        script(async src=url_for(theme.cdn.busuanzi_js))

    script#config-diff.
        var PAGE_CONFIG = {
            is_post: !{is_post()},
            is_page: !{is_page()},
            is_home: !{is_home()},
            page: '!{page.type}',
            toc: !{!!page.toc},
            comment: !{!!page.comment},
        }

// post-ai)
if theme.thirdparty.ai.enable
    script(src=url_for(theme.cdn.sco_ai_js))

if theme.thirdparty.aplayer.enable || theme.music.enable
    script(src=url_for(theme.cdn.aplayer_js))
    script(src=url_for(theme.cdn.meting_js))
    script.
        const meting_api = '!{theme.thirdparty.aplayer.api}';

if theme.post.covercolor.enable
    script.
        const coverColorConfig = {
            mode: '!{theme.post.covercolor.mode}',
            api: '!{theme.post.covercolor.api}',
            time: !{theme.post.covercolor.time},
        }
    script(src=url_for(theme.cdn.cover_color_js))

if theme.footer.randomlink
    include ../widgets/randomlink.pug

if page.katex
    link(rel="stylesheet", href=url_for(theme.cdn.katexcss))

// waterfall
if theme.says.enable
    script(src=url_for(theme.cdn.waterfall))

if theme.comment.enable && theme.comment.commentBarrage
    case theme.comment.type
        when 'twikoo'
            script(src=url_for(theme.cdn.twikoo_commentBarrage))
        when 'waline'
            script(src=url_for(theme.cdn.waline_commentBarrage))

// newest comment
include ../widgets/third-party/news-comment/newest-comment.pug

// pjax
include ../widgets/third-party/pjax.pug

// theme
include ../body/mode

// music
if theme.music.enable
    script(src=url_for(theme.cdn.music_js))

// inject custom body
if theme.extends.body
    each item in theme.extends.body
        != item