- page.type = is_post() ? 'post' : page.type

mixin katex
    if theme.katex.copytex
        script(src=url_for(theme.cdn.katex_copytex))
            script.
                (() => {
                    document.querySelectorAll('#article-container span.katex-display').forEach(item => {
                        utils.wrap(item, 'div', {class: 'katex-wrap'})
                    })
                })();

div
    script(src=url_for(theme.cdn.utils))
    script(src=url_for(theme.cdn.main))
    script(src=url_for(theme.cdn.waterfall))
    script(src=url_for(theme.cdn.pjax))

    if theme.post.share.enable && theme.post.share.list && theme.post.share.list.includes('qrcode')
        script(src=url_for(theme.cdn.qrcode))

    if theme.mermaid
        script(src=url_for(theme.cdn.mermaid_js))

    if theme.display_mode.universe
        script(src=url_for(theme.cdn.universe_js))
        script.
            dark()

    if theme.right_menu.enable && theme.right_menu.translate.enable
        script(src=url_for(theme.cdn.translate_js))

    if theme.katex && theme.katex.enable
        if theme.katex.per_page && (is_post() || is_page())
            +katex
        else if page.katex
            +katex

    if theme.lazyload.enable
        script(src=url_for(theme.cdn.lazyload))
    script(src=url_for(theme.cdn.snackbar))
    if theme.lightbox
        if theme.mediumZoom
            script(src=url_for(theme.cdn.medium_zoom))
        if theme.fancybox
            script(src=url_for(theme.cdn.fancyapps_ui))
    if (theme.says.home_mini && theme.says.enable) || theme.carousel
        script(src=url_for(theme.cdn.swiper_js))

    if theme.post_ai.enable
        script(src=url_for(theme.cdn.efu_ai))

    if theme.capsule.enable || theme.music.enable || theme.says.enable
        script.
            var meting_api = '!{theme.meting_api}';
        script(src=url_for(theme.cdn.aplayer_js))
        script(src=url_for(theme.cdn.meting_js))

    if theme.post.covercolor.enable
        case theme.post.covercolor.mode
            when 'local'
                script(src=url_for(theme.cdn.cover_local))
            when 'api'
                script.
                    const coverColorConfig = {
                        api: '!{theme.post.covercolor.api}',
                        time: !{theme.post.covercolor.time}
                    }
                script(src=url_for(theme.cdn.cover_api))

    if theme.loading.pace
        script(src=url_for(theme.cdn.pace_js))

    if theme.search.enable && theme.search.type === "algolia"
        script(src=url_for(theme.cdn.instantsearch))
        script(src=url_for(theme.cdn.algolia_search))

    if theme.right_menu.enable
        script(src=url_for(theme.cdn.right_menu_js))

    if theme.extends.body
        each item in theme.extends.body
            != item

    .js-pjax
        if is_home() && theme.says.enable && theme.says.home_mini
            script.
               sco.initbbtalk()
        if page.type === 'says' && theme.says.enable
            script.
                GLOBAL_CONFIG.lightbox && utils.lightbox(document.querySelectorAll(".bber-content-img img"));
                sco.changeTimeFormat(document.querySelectorAll('.bber-info-time time'))
        if comment_js
            include ../widgets/third-party/comments/js
        if theme.mermaid
            script.
                mermaid.run();
        if is_home() && theme.carousel && site.posts.data.filter(item => item.recommend === true).slice(0, 6) || false
            script.
                carousel_swiper()
        if theme.busuanzi && (theme.aside.siteinfo.uv || theme.aside.siteinfo.pv)
            if theme.busuanzi_use === 0
                script(defer pjax src=url_for(theme.cdn.busuanzi_js))
            else
                script(defer pjax src=url_for(theme.cdn.busuanzi_qj_js))


if theme.footer.randomlink
    include ../widgets/randomlink.pug

// pjax
!= partial("includes/widgets/third-party/pjax", {}, {cache: true})

// theme
include ../body/mode

// google adsense
include ../body/gadsense
