- cdn = theme.cdn.body
- page.type = is_post() ? 'post' : page.type

script(src=url_for(cdn.pjaxjs))
if theme.lazyload.enable
    script(src=cdn_url_for("/lib/lazyload.min.js"))
script(src=cdn_url_for("/lib/snackbar.min.js"))
if theme.lightbox
    script(src=cdn_url_for("/lib/view-image.min.js"))
if theme.says.home_mini || theme.aside.history.enable
    script(src=url_for(cdn.swiperjs))

if theme.rightside.enable
    include ../widgets/rightside/index.pug
    script(src=cdn_url_for("/lib/rightside.min.js"))

div#js-pjax
    if page.type === 'says'
        script(src=cdn_url_for("/lib/waterfall.min.js"))
        script.
            window.addEventListener('resize', utils.throttle(function () {
                if (document.getElementById('waterfall')) {
                    sco.reflashEssayWaterFall();
                }
            }), 500);
    if theme.thirdparty.busuanzi && (theme.aside.siteinfo.uv || theme.aside.siteinfo.pv || theme.thirdparty.busuanzi.usecomment === false)
        script(async src=url_for(cdn.busuanzijs))

    script#config-diff.
        var PAGE_CONFIG = {
            is_post: !{is_post()},
            is_page: !{is_page()},
            is_home: !{is_home()},
            page: '!{page.type}',
            toc: !{!!page.toc},
            comment: !{!!page.comment},
        }

// post-ai)
if theme.thirdparty.ai.enable
    script(src=cdn_url_for("/lib/sco-ai.min.js"))

if theme.thirdparty.aplayer.enable || theme.music.enable
    script(src=url_for(cdn.aplayerjs))
    script(src=url_for(cdn.metingjs))
    script.
        const meting_api = '!{theme.thirdparty.aplayer.api}';

if theme.post.covercolor.enable
    script.
        const coverColorConfig = {
            mode: '!{theme.post.covercolor.mode}',
            api: '!{theme.post.covercolor.api}',
            time: !{theme.post.covercolor.time},
        }
    script(src=cdn_url_for("/lib/cover-color.min.js"))

if theme.footer.randomlink
    include ../widgets/randomlink.pug

if page.katex
    link(rel="stylesheet", href=url_for(cdn.katexcss))
    script(src=url_for(cdn.katexjs))

if theme.aside.welcome.enable
    script(src=cdn_url_for("/lib/txmap.min.js"))

if theme.comment.enable
    case theme.comment.type
        when 'twikoo'
            script(src=cdn_url_for("/js/extend/comment/twikoo/twikoo.js"))
            script(src=cdn_url_for("/js/extend/comment/twikoo/commentBarrage.js"))
        when 'waline'
            script(src=cdn_url_for("/js/extend/comment/waline/waline.js"))
            script(src=cdn_url_for("/js/extend/comment/waline/commentBarrage.js"))


// pjax
include ../widgets/third-party/pjax.pug

// music
if theme.music.enable
    script(src=cdn_url_for("/js/music.js"))

// inject custom body
if theme.extends.body
    each item in theme.extends.body
        != item