<div class="post-copyright">
    <div class="post-copyright__author_group">
        <a class="post-copyright__author_img" href="/about/"
           data-pjax-state="">
            <img class="post-copyright__author_img_back"
                 src="https://p.sondy.top/blog/img/20230913205627.png!cover">
            <img class="post-copyright__author_img_front"
                 src="<%= theme.site.icon %>"></a>
        <div class="post-copyright__author_name"><%= config.title %></div>
        <div class="post-copyright__author_desc"><%= config.subtitle %></div>
    </div>
    <div class="post-tools" id="post-tools">
        <div class="post-tools-left">
            <% if(theme.post.award.enable){%>
                <%- partial('/award', {cache: true}) %>
            <%} %>
            <div class="reward-link mode">
                <a class="reward-link-button" href="<%= theme.footer.rss.url %>">
                    <i class="heofont icon-plant-fill"></i>
                    订阅
                </a>
            </div>
        </div>
    </div>
    <div class="post-copyright__notice">
        <span class="post-copyright-info">
            本文是<%= page.cc || theme.post.default.copyright %>文章，
            <% if(page.cc === "转载或翻译"){ %>
                版权归原作者所有。转载本文请联系原作者。
            <% }else{ %>
                采用 <a href="/copyright/" target="_blank">CC BY-NC-ND 4.0</a>
                协议，完整转载请注明来自
                <a href="/" target="_blank"><%= config.title %></a>
            <% } %>
        </span>
    </div>
</div>