<% switch (item) {
    case 'power': %>
        <%- partial('partial/compoment/aside/asidePower', {cache: true}) %>
    <% break;
    case 'about': %>
        <%- partial('partial/compoment/aside/asideInfoCard', {cache: true}) %>
    <% break;
    case 'flip': %>
        <%- partial('partial/compoment/aside/asideFlipCard', {cache: true}) %>
    <% break;
    case 'newestPost': %>
        <%- partial('partial/compoment/aside/asideNewestPost', {cache: true}) %>
    <% break;
    case 'tag': %>
        <div class="card-widget card-tags">
            <%- partial('partial/compoment/aside/asideTag', {cache: true}) %>
        </div>
    <% break;
    case 'archive': %>
        <div class="card-widget card-archives">
            <%- partial('partial/compoment/aside/asideArchive', {cache: true}) %>
        </div>
    <% break;
    case 'webInfo': %>
        <div class="card-widget card-webinfo">
            <%- partial('partial/compoment/aside/asideWebInfo', {cache: true}) %>
        </div>
    <% break;
    case 'allInfo': %>
        <%- partial('partial/compoment/aside/asideAllInfo', {cache: true}) %>
    <% break;
    default: %>
        <%- partial('page/page') %>
    <% break;
} %> 