<%
    let platformContent = `
        <style>
            #aside-content .card-widget.card-platform {
                background: var(--sco-main);
                display: flex;
                justify-content: center;
                align-content: center;
                padding: 0;
                cursor: pointer;
                border: none;
                height: 110px;
                border: var(--style-border);
                transition: 0.6s;
            }
            #aside-content .card-widget.card-platform:before {
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background: url("${theme.aside.module.platform.favicon_img || 'https://img.meuicat.com/blog/14.webp'}") center center no-repeat;
                content: '';
                background-size: cover;
            }
            #aside-content .card-widget.card-platform:hover {
                border-color: var(--sco-main);
            }
            #aside-content .card-widget #flip-wrapper {
                perspective: 1000;
                position: relative;
                width: 235px;
                height: 110px;
                z-index: 1;
            }
            #aside-content .card-platform #flip-wrapper:hover #flip-content {
                transform: rotateY(180deg);
            }
            #aside-content .card-platform #flip-wrapper #flip-content {
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: cubic-bezier(0, 0, 0, 1.29) 0.3s;
            }
            #aside-content .card-platform #flip-wrapper #flip-content .face {
                position: absolute;
                width: 100%;
                height: 100%;
                -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
                background: url("${theme.aside.module.platform.front_img || 'https://img.meuicat.com/blog/15.webp'}") center center no-repeat;
                background-size: 100%;
            }
            #aside-content .card-platform #flip-wrapper #flip-content .face.back {
                display: block;
                -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
                box-sizing: border-box;
                background: url("${theme.aside.module.platform.behind_img || 'https://img.meuicat.com/blog/16.webp'}") center center no-repeat;
                background-size: 100%;
            }
            [data-theme='dark'] #aside-content .card-widget.card-platform {
                background: var(--sco-card-bg);
            }
        </style>
        <div class="card-widget card-platform">
            <div id="flip-wrapper">
                <div id="flip-content">
                    <div class="face"></div>
                    <div class="back face"></div>
                </div>
            </div>
        </div>`
    welcomeContent = `
        <style>
            #welcome-info {
                overflow: hidden;
                margin-top: 4px
            }
            #welcome-info .welcome-time {
                width: 100%;
                margin: 12px 0 0;
                display: inline-flex
            }
            #welcome-info .welcome-message {
                width: 100%;
                margin-bottom: 8px;
                display: inline-flex
            }
        </style>
        <div class="card-widget card-welcome">
            <div class="item-headline">
                <i class="${theme.aside.module.welcome.icon || 'scoicon sco-map-pin-fill'}"></i>
                <span>${theme.aside.module.welcome.title || '来访者'}</span>
            </div>
            <div id="welcome-info"></div>
        </div>`
    historyContent = `
        <style>
            .swiper-wrapper{
                flex-direction: column
            }
            .history_slide {
                text-align:left;
                display: flex !important;
                flex-direction:column;
                align-items: flex-start
            }
            #history-baidu > .blog-slider__pagination{
                display:none
            }
            .history_slide_time{
                color: var(--sco-secondtext);
                font-size: 14px;
                font-style: italic;
                font-weight: lighter
            }
            .history_slide_link a{
                color: var(--sco-main);
                padding: 0 4px;
                border-radius: 4px;
            }
            .history_slide_link a:hover{
                color: var(--sco-white);
                background: var(--sco-main);
            }
        </style>
        <div class="card-widget card-history">
            <div class="item-headline">
                <i class="${theme.aside.module.history.icon || 'scoicon sco-clock-fill'}"></i>
                <span>${theme.aside.module.history.title || '那年今日'}</span>
            </div>
            <div id="history-baidu" style="height: 100px;overflow: hidden">
                <div id="history-container" class="history_swiper-container" style="width: 100%;height: 100%;margin-top: 6px">
                    <div id="history_container_wrapper" class="swiper-wrapper" style="height:20px"></div>
                </div>
            </div>
        </div>
        <link rel="stylesheet" href="https://cdn.staticfile.org/Swiper/11.0.3/swiper-bundle.min.css">
        <script src="https://cdn.staticfile.org/Swiper/11.0.3/swiper-bundle.min.js"></script>`
%>

<% if (theme.aside.module.platform.enable){ %>
    <% if(theme.aside.module.platform.part && is_home()){ %>
        <%- platformContent %>
    <% } else if(is_home()) { %>
        <%- platformContent %>
    <% } %>
<% } %>

<% if (theme.aside.module.welcome.enable){ %>
    <% if(theme.aside.module.welcome.part && is_home()){ %>
        <%- welcomeContent %>
    <% } else if(is_home()) { %>
        <%- welcomeContent %>
    <% } %>
<% } %>

<% if (theme.aside.module.history.enable){ %>
    <% if(theme.aside.module.history.part && is_home()){ %>
        <%- historyContent %>
    <% } else if(is_home()) { %>
        <%- historyContent %>
    <% } %>
<% } %>