<div class="card-widget card-power">
    <% const data = site.data.afadian.links %>
    <% const vip = data[Math.floor(Math.random() * data.length)] %>
    <div class="item-headline">
        <i class="scoicon sco-afdian-line"></i>
        <span>爱发电赞助</span>
        <a class="power-charge" href="<%= theme.aside.power.link %>" rel="external nofollow" target="_blank"
           title="赞助博主">赞助</a>
    </div>
    <a id="power-star" data-pjax-state="" href="<%= vip.url %>">
        <div id="power-star-image"
             style="background-image: url('<%= vip.avatar %>');"></div>
        <div class="power-star-body">
            <div id="power-star-title"><%= vip.name %></div>
            <div id="power-star-desc"><%= vip.descr %></div>
        </div>
    </a>
    <div class="power-list">
        <div class="power-item">
            <div class="power-item-body">
                <% data.forEach(item => { %>
                    <% if(item.name !== vip.name){ %>
                        <div class="power-item-link">
                            <a target="_blank" href="<%= item.link %>" rel="external nofollow"><%= item.name %></a>
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</div>