- var menu = theme.nav.group
if menu.enable
    .back-menu-list-groups
        each group in menu.menu
            .back-menu-list-group
                .back-menu-list-title= group.title
                .back-menu-list
                    each item in group.item
                        a.back-menu-item(href=url_for(item.link), title=item.name)
                            img.back-menu-item-icon(src=url_for(item.icon) alt=item.name)
                            span.back-menu-item-text= item.name