div.back-menu-list-groups
    - var menu = theme.nav && theme.nav.left && theme.nav.left.menu ? theme.nav.left.menu : {}
    each groupData, x in menu
        div.back-menu-list-group
            div.back-menu-list-title= x
            div.back-menu-list
                each data, y in groupData
                    a.back-menu-item(href=url_for(data.url), rel="external nofollow", title=y)
                        img.back-menu-item-icon(src=data.icon, loading="lazy", alt=x)
                        span.back-menu-item-text= y